<!DOCTYPE html>
<html lang="en">

<head>
  <title>Domov</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/stylesheets/css.css" rel="stylesheet">
  <link href="/stylesheets/brojac.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>

  <style>
    .centered {
      position: absolute;
      top: 50%;
      left: 20%;
      transform: translate(-50%, -50%);
      font-weight: bolder;
      font-size: 1cm;
      font: outline;
      font-style: oblique;
    }

    .center {
      position: absolute;
      top: 60%;
      left: 20%;
      transform: translate(-50%, -50%);
      font-weight: bolder;
      font-size: 1cm;

      font-style: oblique;
    }
  </style>

  <nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/"><b>Domov</b></a>
      <a class="navbar-brand" href="/novice">Novice</a>
      <a class="navbar-brand" href="/vnos">Vnos bolezen</a>
      <a class="navbar-brand" href="/statistika">Statistika</a>
      <a class="navbar-brand" href="/prijatelji">Prijatelji</a>
      <a class="navbar-brand" href="/koledar">Koledar</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <% if (locals.user) { %>

          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>

          <% } else{ %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container-fluid">
    <img
      src="https://www.iamexpat.nl/sites/default/files/styles/article--full/public/doctor-gp-netherlands.jpg?itok=spP6o5Q8"
      alt="Snow" style="width:100%;" style="opacity: unset;">
    <div class="centered">Zdrastvena oskrba za vas</div>
    <div class="center">in vašo družino</div>
  </div>


  <div class="counter"
    style="background-image: url(https://www.phoenixfl.org/wp-content/uploads/2020/03/iStock-1205882355-scaled.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="stNovih">
            <p class="counter-count"><%= stats[0].SteviloNovih %></p>
            <p class="stNovih-p"><b>Novih okruzbi</b></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="stPotrjenih">
            <p class="counter-count"><%= stats[0].SteviloPotrjenih %></p>
            <p class="stPotrjenih-p"><b>Portjene okruzbe</b></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="stOzdravljenih">
            <p class="counter-count"><%= stats[0].SteviloOzdravljenih %></p>
            <p class="stOzdravljenih-p"><b>Ozdravljeni</b></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="stUmrlih">
            <p class="counter-count"><%= stats[0].SteviloUmrlih %></p>
            <p class="stUmrlih-p"><b>Umrli</b></p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <p>Last Update: <%=moment(stats[0].Datum).format( 'MMM-DD-YYYY')%></p>
  </div>


  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Ekipa12 2020</p>
    </div>
</body>

</footer>

</html>