<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Admin</title>

  <link href="/stylesheets/css.css" rel="stylesheet">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
  .container {height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;}
  footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
 
   text-align: center;
}

html,body
  {
    background-color: #ADD8E6 !important;
    background-image: none;
  }
</style>


</head>

<body>

  <nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container">
      <h3>Admin dashboard</h3>
      <div>
      <div class="form-group" style="float:left; margin-right: 25px;">
      <form method="GET" action="/dodaj">
        <button class="btn btn-primary" type="submit" value="Dodaj">Dodaj</button>
      </form>
      </div>
      <div class="form-group" style="float: right; " >
      <form method="GET" action="/statistika_admin">
        <button class="btn btn-primary" type="submit" value="Statistika">Statistika</button>
      </form>
      </div>
    </div>
      </div>
  </nav>


  <!-- Page Content -->
  <div class="container" >
    <div class="col-lg-8" style="padding-top:100px;">
      <form action=""  enctype="multipart/form-data"  method="POST">
        <input type="file" class="form-control-file" name="file"  accept="image/x-png,image/gif,image/jpeg" / >
      <div class="form-group">
        <label >Naziv clanka:</label>
        <input type="text" class="form-control" id="Naziv" name="Naziv" value="<%= data[0].Naziv %>">
      </div>
      <div class="form-group">
          <label for="exampleFormControlTextarea1">Opis:</label>
          <textarea class="form-control" id="Opis" name="Opis" rows="9"><%= data[0].Opis %></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Uredi</button>
    </form>
   </div> 
  </div>

</body>

</html>
