
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://unpkg.com/@fullcalendar/core@4.3.1/main.min.css" rel="stylesheet"/>
<link href="https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.css" rel="stylesheet"/>
<link href="https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.css" rel="stylesheet"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/@fullcalendar/core@4.3.1/main.min.js"></script>
<script src="https://unpkg.com/@fullcalendar/interaction@4.3.0/main.min.js"></script>
<script src="https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.js"></script>
<script src="https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.js"></script>

<link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
<link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet' />
      <title>
Koledar      </title>
    
 <script>

     var event = <%- JSON.stringify(data) %>;
    
     let events =[];
     event.forEach(function(u) 
            {
              if (u.Datum_Konca==null)
              {
                var event_obj = {
            title  : u.Naziv,
            start  : u.Datum_Zacetka,
            end    : u.Datum_Zacetka,
            allDay : false,
            }
              }
              else{
                var event_obj = {
            title  : u.Naziv,
            start  : u.Datum_Zacetka,
            end    : u.Datum_Konca,
            allDay : false,
            }
              }
           
            events.push(event_obj);
          });
        console.log(events);
        document.addEventListener('DOMContentLoaded', function() {
       
       var calendarEl = document.getElementById('calendar');
       var calendar = new FullCalendar.Calendar(calendarEl, {
        
         plugins: [ 'interaction','dayGrid','timeGrid'],
         editable: true,
         defaultView: 'dayGridMonth',
         displayEventTime: false,
         header: {
          center:   'title',
          left:  'today prev,next',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'	},
         events:events,

       });
    
       calendar.render();
     });
    
    </script>
    
    </head>
    <style>
    
      html, body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
        background-color: lightblue;
      }
       p
       {
        color:#022a5d;
       }
      #calendar {
        max-width: 80%;
        margin: 40px auto;
        color:#022a5d;
        background-color: #F0FFFF;
      }
  .row 
  {
    background-color: #F0FFFF    !important;
    border-radius: 1%;
  
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 3%;
  }  


  .fc-today
  {
    color:#F0FFFF   !important;
    background-color:#022a5d
   !important;
  }
  .fc-event
  {
    color:#F0FFFF   !important;
    background-color: #022a5d
   !important; 
   font-family: Arial, Helvetica Neue, Helvetica, sans-serif !important;
   height: 35px !important;
   font-size: 14px !important;
  }

  img {
 margin-top: 8%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


    </style>
  <body>
    
  
 
<nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container">
    <a class="navbar-brand" href="/"><b>Domov</b></a>
    <a class="navbar-brand" href="/novice">Novice</a>
    <a class="navbar-brand" href="/vnos">Vnos bolezen</a>
    <a class="navbar-brand" href="/statistika">Statistika</a>
    <a class="navbar-brand" href="/prijatelji">Prijatelji</a>
    <a class="navbar-brand" href="/koledar">Koledar</a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <% if (locals.user) { %>

          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
         
          <% } else{ %>  
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
         <% } %>
      </ul>
    </div>
  </div>
</nav>
<br><br><br>
    <div id='calendar'></div>

    <br>
      <div class="container">
            
              <% data.forEach(function(u) { %>
             
                <div class="row" >
                  <div class="col-sm-2">
                    <img src="https://p1.hiclipart.com/preview/1002/120/926/medical-logo-medical-record-medical-diagnosis-clinic-medicine-clinical-trial-flat-design-patient-png-clipart.jpg" alt="user"
                  class="profile-photo-lg">
                  </div>
                  <div class="col-sm-4">
                    <br>
                    <p style="font-size: large;"><b>Datum zacetka: </b><%=moment( u.Datum_Zacetka).format( 'MMM-DD-YYYY')%></p>
                    <p style="font-size: large;"><b>Datum konca: 
                      <% if (u.Datum_Konca !=null) { %>
                      </b><%=moment( u.Datum_Konca).format( 'MMM-DD-YYYY')%><%=  %></p>
                    
                        <% } else{ %>  
                        </b><%=moment( u.Datum_Zacetka).format( 'MMM-DD-YYYY')%><%=  %></p>
                       <% } %>

                    <p style="font-size: large;"><b>Dijagnoza: </b><%= u.Naziv %></p>
                  
                  </div>

                  <div class="col-sm-3" style="margin-top: 6%;">
                    <% if (u.PotrjenaDijagnoza == '0') { %>
                      <form  method="post" enctype="multipart/form-data" action="/upload">
                        <input type="file" class="form-control-file" name="file" required>
                        <input type="hidden" name="bolezen" id="bolezen" value="<%= u.idBolezni %>">
                        <input type="hidden" name="covid" id="covid" value="<%= u.Naziv %>">
                       
                        <button  style="margin-top: 5px;" type="submit" class="btn btn-secondary btn-sm">Nalozi</button>
                      </form>
                      <% }  else { %> 
                        <p style="font-size: medium;"><b>Dijagnoza potvrdjena: </b><%= u.Naziv %></p>
                      <% }  %> 
                  </div>
                  <div class="col-sm-2" style="margin-top: 6%;">
                    <form method="POST" action="/izbrisi/<%=u.idBolezni%>" style="margin-top: 8%;">
                      <button class="btn btn-primary pull-right"  type="submit" value="Delete">Izbriši bolezen
                      </button>
                    </form> 
                   

                   
                  </div>
                  
                    
                </div>
              
              <% }); %>
            
          </div>
         
  </body>
</html>