<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Novice</title>

  <!-- Bootstrap core CSS -->

  <!-- Custom styles for this template -->
  <link href="/stylesheets/heroic-features.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<style>

html, body {

      background-image: none;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
        background-color: lightblue !important;
      }
  #pe {
    height: 80px;
    white-space: normal; 
    overflow: hidden;
     text-overflow: ellipsis;
}
</style>
<body>

    <nav class="navbar navbar-expand-lg bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/novice"><b>Novice</b></a>
          <a class="navbar-brand" href="/">Domov</a>
          <a class="navbar-brand" href="/vnos">Vnos bolezen</a>
          <a class="navbar-brand" href="/statistika">Statistika</a>
          <a class="navbar-brand" href="/prijatelji">Prijatelji</a>
          <a class="navbar-brand" href="/koledar">Koledar</a>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <% if (locals.user) { %>
    
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
               
                <% } else{ %>  
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                  </li>
               <% } %>
            </ul>
          </div>
        </div>
      </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Vsak dan prvi!</h1>
      <p class="lead">Vodilni spletni medij</p>
     
    </header>

    <!-- Page Features -->
    <div class="row text-center">
      
      <% data.forEach(function(o) { %>
        
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="<%= o.Image %>" alt="">
              <div class="card-body">
                <h5 class="card-title" ><b><%= o.Naziv %></b></h4>
                <p class="card-text" style="text-align: left;" id="pe" ><%= o.Opis %></p>
              </div>
              <div class="card-footer">
                <a href='/novice/<%=o.idClanek%>' class="btn btn-primary">Preberi več!</a>
              </div>
            </div>
          </div>
      <% }); %>
   
      
      

     

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  
  <!-- Bootstrap core JavaScript -->
  

  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Ekipa12 2020</p>
    </div>
    <!-- /.container -->
  </footer>
  

</body>

</html>
