<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Novice</title>

  <!-- Bootstrap core CSS -->


  <!-- Custom styles for this template -->
  <link href="/stylesheets/heroic-features.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>
  <style>
    .container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    body {
      background-color: #ADD8E6 !important;
      background-image: none;
      font-family: "Helvetica Neue", Helvetica, Arial !important;
    }

    p {
      font-size: 16px !important;
    }

    #paragraf {
      /* text-indent: 50px; */
      margin: 0 5%;
      text-align: justify;
      letter-spacing: 2.5px;
    }
    .lead::first-letter {
      font-size: 150%;
      color: #8A2BE2;
      font-weight: bold;
    }
  </style>


</head>

<body>

  <nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/novice"><b>Novice</b></a>
      <a class="navbar-brand" href="/">Domov</a>
      <a class="navbar-brand" href="/vnos">Vnos bolezen</a>
      <a class="navbar-brand" href="/statistika">Statistika</a>
      <a class="navbar-brand" href="/prijatelji">Prijatelji</a>
      <a class="navbar-brand" href="/koledar">Koledar</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <% if (locals.user) { %>

          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>

          <% } else{ %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
  <div style="margin-top: 25px;  position: fixed; margin-left: 25px;">
    <form method="GET" action="/novice">
      <button class="btn btn-primary" type="submit" value="Nazaj">Nazaj</button>
    </form>
  </div>

  <!-- Page Content -->
  <div class="container" style="margin-top: 25px; margin-bottom:25px;">


    <div class="col-lg-8" style="text-align: center; background-color: #F5F5F5
              ;">
                <h3 class="mt-4"><%= data[0].Naziv %></h1>
        
  
                <hr>
        
                
                <p><%=moment(data[0].Datum).format( 'MMM-DD-YYYY')%></p>
                <hr>
        
                
                <img class="img-fluid rounded" src="<%= data[0].Image %>" alt="">
        
                <hr>
        
               
                <p class="lead" id="paragraf" style="text-align: left;"><%= data[0].Opis %></p>
               
                <hr>
    
              </div>
  </div>
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Ekipa12 2020</p>
    </div>
  </footer>
</body>

</html>