<!DOCTYPE html>
<html lang="en">

<head>
    <title>Termin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
      body {
        background-image: url(https://i0.wp.com/www.additudemag.com/wp-content/uploads/2017/05/building-blocks-good-adhd-diagnosis-stethoscope-clipboard-1024.png?resize=1280%2C720px&ssl=1);
      }
      
     </style>
    
    <link rel="stylesheet" href="../stylesheets/css.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>


<nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/"><b>Termin</b></a>
        <a class="navbar-brand" href="/">Domov</a>
      <a class="navbar-brand" href="/novice">Novice</a>
      <a class="navbar-brand" href="/vnos">Vnos bolezen</a>
      <a class="navbar-brand" href="/statistika">Statistika</a>
      <a class="navbar-brand" href="/prijatelji">Prijatelji</a>
      <a class="navbar-brand" href="/koledar">Koledar</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <% if (locals.user) { %>

            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
           
            <% } else{ %>  
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
           <% } %>
        </ul>
      </div>
    </div>
  </nav>
<br><br><br>

<div class='row'>
<div class='col-sm-4'>

</div>

<div class="col-sm-4">
  <br> <br> <br>
        <h2><b>Pridobitev termin</b></h2>
        <p class="lead">Dodeleni termin za testiranje za Covid-19</p>
        <h6><b> <%=data[0].Naziv%></b></h6>
        <p>Mesta testiranja: <%= data[0].Naslov %>  </p>
        <p>Datum testiranja: <%=moment(data[0].Datum).format( 'MMM-DD-YYYY')%></p>
        <p>Cas testiranja: <%= data[0].Cas %> </p>
        <p class="lead">
            <br><br>
            <form method="POST" action="/brisi/<%=data[0].idTermini%>">
              <button class="btn btn-primary pull-right" type="submit" value="Delete">Prihvati
              </button>
            </form>
        </p>

        <table>
          <tbody id="tb">

          </tbody>
        </table>
      </div>
</div>
</div>
<br><br><br><br>
<br><br><br><br>
<br>
</body>
<br> <br>
<footer class="py-5 bg-dark">
  
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Ekipa12 2020</p>
  </div>
</footer>

</html>