<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vnos bolezen</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="js.js"></script>
    
    <link href="../stylesheets/css.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/vnos"><b>Vnos bolezen</b></a>
      <a class="navbar-brand" href="/">Domov</a>
      <a class="navbar-brand" href="/prijatelji">Prijatelji</a>
      <a class="navbar-brand" href="/statistika">Statistika</a>
      <a class="navbar-brand" href="/novice">Novice</a>
      <a class="navbar-brand" href="/koledar">Koledar</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <% if (locals.user) { %>

            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
           
            <% } else{ %>  
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
           <% } %>
        </ul>
      </div>
    </div>
  </nav>

    <div class="row">
      <div class="col-sm-1"></div>
        
    <div class="col-sm-6">
  
      <br>      <br>
      <br>
        <label style="font-size: 1cm;"><b>Vnos bolezen</b></label>
        <br>
        <label style="font-size: 0,3cm;"><i>V polja ki so označeni s * morete vnesiti podatke, 
        da bo sistem pripravil ustrezna dijagnoza</i></label> <br>
          
        <form id='vnos-form' action="/dijagnoza" method="POST" > 
          <div class="form-group">
            <br> 
          <label for="zacetek">Datum začetka:*</label>
          <input  type="date" id="zacetek" class="form-control" placeholder="MM/DD/YYYY" name="zacetek" required>
        </div>

        <div class="form-group">
          <label for="konec">Datum konca (če boleznik ozdravil): </label>
          <input type="date" id="konec" class="form-control" placeholder="Vnesi datum konca" name="konec">
        </div>
        <label>Opis poteka:</label>
        <div class="input-group">
            <textarea class="form-control" rows="10" name="opispoteka"></textarea>
        </div>
    
    </div>

    <div class="col-sm-5">
      <br><br><br><br>      <br>
      <br><br>      <br>
      <br>

        <label style="font-weight: bold;">Simptome:*</label>
        
        <div class="form-check">
            <label class="form-check-label" for='prsih'>
              <input type="checkbox" class="form-check-input" name='prsih' value="1">Bolečina v prsih
            </label>
          </div> <br>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name='izcedek' value="1">Izcedek iz nosu
            </label>
          </div> <br>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name='kihanje' value="1">Kihanje
            </label>
          </div><br>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="kaselj" value="1">Kašelj
            </label>
          </div><br>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name='glavobol' value="1">Glavobol
            </label>
          </div><br>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="grlo" value="1">Boleče grlo
            </label>
          </div><br>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="srbec" value="1">Srbeč nos/oči
            </label>
          </div><br>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="" id="temp" onclick="vnostemperaturo()">Telesno temperaturo
            </label>
          </div>
          <input type="number" style="display: none;" id="vnostemp" name="temperaturo">
          <br><br>
          <button class="btn btn-primary" type="submit" value="submit">Submit</button>      </form>
          <br><br>
      
    </div>
     
    </div>
</body>
<br><br>

<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Ekipa12 2020</p>
  </div>
</footer>

</html>