.counter
{
    background-color: #ffffff;
    text-align: center;
}
.stPotrjenih,.stNovih,.stUmrlih,.stOzdravljenih
{
    margin-top: 70px;
    margin-bottom: 70px;
}
.counter-count
{
    font-size: 18px;
    background-color: #3483eb;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.stPotrjenih-p,.stNovih-p,.stUmrlih-p,.stOzdravljenih-p
{
    font-size: 24px;
    color: #000000;
    
}